nav p {
  display: inline;
}

.about{
  display: flex;
  background-size: cover;
  align-items: center;
}

.intro {
  width: 80%;
}



footer ul {
  list-style: none;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}