.container {
    width: 80%;
}

header {
    background-color: #222;
    width: 100%;
}

header .row {

}

header h1 {
  font-weight: 700;
  color: #fff;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
  display: inline;
}

nav a {
    color: #ddd;
    font-size: 18px;
}

.about{
  display: flex;
  background-size: cover;
  align-items: center;
  margin: 20px;
}

.about h3 {
    font-weight: bold;
}
.intro {
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word;
}

.contact ul {
    list-style: none;
    padding: 0px;
}

.contact li {
    display: inline;
}

.contact img {
    width: 40px;
}

.categories {
    border-bottom: 1px solid #ddd;
}

footer {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 0px;
}

